
<div class="animate__animated animate__fadeIn">
<h1 style="width: 100%;display: table;margin: 20px auto 0;text-align: left;padding-left:25px;color:#fff" routerLink="/">
    Incognito Log
    Viewer | {{node}}
</h1>

<div class="filter-shortcut">
    <p>Mode:</p>
    <button [ngClass]="(logMode)?'btn-hightlight':''" (click)="logMode=true">log</button>
    <button [ngClass]="(logMode)?'':'btn-hightlight'" (click)="logMode=false">height</button>
</div>

<div *ngIf="logMode" class="animate__animated animate__fadeIn">
    <div class="filter-shortcut">
        <p>Filter shortcut:</p>
        <button (click)="filter('consensus')">consensus</button>
        <button (click)="filter('vote')">vote</button>
        <button (click)="filter('[err]')">[err]</button>
        <button (click)="filter('[inf]')">[inf]</button>
        <button (click)="filter('[wrn]')">[wrn]</button>
    </div>

    <div class="filter-shortcut">
        <p>Lines before stream:</p>
        <input type="text" placeholder="100" (keyup)="linesBeforeStream($event)" [(value)]="lines">
    </div>
    <div class="container" *ngIf="(filterString=='')">
        <p class="animate__animated animate__fadeIn logline" *ngFor="let item of logItem">{{item}}</p>
    </div>
    <div class="container" *ngIf="(filterString!='')" style="background-color:#000">
        <p class="animate__animated animate__fadeIn logline" *ngFor="let item of filterLogItem">{{item}}</p>
    </div>

    <div class="filter-box">
        <input type="text" placeholder="filter (enter to confirm)" (keyup)="filterLines($event)"
            [(value)]="filterString">
    </div>
</div>

<div *ngIf="!logMode && (selectedHeight!=0)" class="animate__animated animate__fadeIn">
    <div class="filter-shortcut" style="padding-left:22px">
        <button class="btn-height" (click)="resetHeight()">&#x25C0; Height View</button>
        <button class="btn-height">{{selectedHeight}}</button>
    </div>
    <div class="filter-shortcut">
        <p>Filter shortcut:</p>
        <button (click)="filterConsensus('consensus')">consensus</button>
        <button (click)="filterConsensus('vote')">vote</button>
        <button (click)="filterConsensus('[err]')">[err]</button>
        <button (click)="filterConsensus('[inf]')">[inf]</button>
        <button (click)="filterConsensus('[wrn]')">[wrn]</button>
    </div>
</div>


<div *ngIf="!logMode">
    <div class="animate__animated animate__fadeIn container" *ngIf="(selectedHeight==0)">
        <!-- <p class="logline" *ngFor="let item of consensusItem">{{item}}</p> -->
        <button class="btn-height btn-height-block" *ngFor="let height of availiableHeights"
            (click)="getConsensusHeightLog(height.Height)">{{height.Height}} <p [ngClass]="(height.Round>1)?'round-highlight':''">{{height.Round}}</p>
             <h4 [ngClass]="(height.ErrorCount>0)?'error-highlight':''">Errs: {{height.ErrorCount}}</h4>
             <h4>{{height.StartTime}}</h4></button>
    </div>
    <div *ngIf="selectedHeight!=0">
        <div class="animate__animated animate__fadeIn container" *ngIf="(filterconsensusString=='')">
            <p class="animate__animated animate__fadeIn logline" *ngFor="let item of consensusItem">{{item}}</p>
        </div>
        <div class="container" *ngIf="(filterconsensusString!='')" style="background-color:#000">
            <p class="animate__animated animate__fadeIn logline" *ngFor="let item of filterconsensusItem">{{item}}</p>
        </div>

        <div class="filter-box">
            <input type="text" placeholder="filter (enter to confirm)" (keyup)="filterConsensusLines($event)"
                [(value)]="filterconsensusString">
        </div>
    </div>
</div>
</div>