<h1 style="width: 1310px;display: table;margin: 20px auto 0;text-align: left;padding-left:0;color:#fff">Incognito Log
    Viewer
</h1>
<div class="animate__animated animate__fadeIn">
<div class="container"> 
    <div class="table-column">
        <div class="table-chain">
            <h4>Node</h4>
        </div>

        <div class="table-item" *ngFor="let node of nodes">
            <h4 style="color:#fff">
                {{node}}
            </h4>
        </div>
    </div>
    <div class="table-column" *ngFor="let chain of chains">
        <div class="table-chain">
            <h4>{{chain.title}}</h4>
        </div>

        <div class="table-item" *ngFor="let node of nodes"
            [ngStyle]="{'background-color':getBGColor(nodePhase.get(chain.title.toLowerCase()+(node-1).toString()))}">
            <div class="table-content" *ngIf="nodePhase.get(chain.title.toLowerCase()+(node-1).toString())"
                [routerLink]="'/logviewer'" [queryParams]="{ node: chain.title.toLowerCase()+(node-1).toString(), lines :100}">
                <p>Status: {{nodePhase.get(chain.title.toLowerCase()+(node-1).toString())}}</p>
                <p>Block height: {{getBlockHeight(chain.title.toLowerCase()+(node-1).toString())}}</p>
                <p>Round: {{getRound(chain.title.toLowerCase()+(node-1).toString())}}</p>
                <p>Votes count: {{getVoteCount(chain.title.toLowerCase()+(node-1).toString())}}</p>
                <p>Vote sent: {{getIsVoteSent(chain.title.toLowerCase()+(node-1).toString())}}</p>
                <p>Block received: {{getIsBlockReceived(chain.title.toLowerCase()+(node-1).toString())}}</p>
                <p>Errors count: {{getErrorsCount(chain.title.toLowerCase()+(node-1).toString())}}</p>
            </div>
        </div>
    </div>
</div>
</div>